{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["@typescript-eslint", "react-hooks", "jest"],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/named": "off",
    "import/export": "off",
    "import/prefer-default-export": "off",
    "no-unused-expressions": ["warn", {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/indent": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": [
      "error", {
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}