.ProseMirror {

}

.ProseMirror p {
  padding: 5px;
  transition: background-color .3s;
  border-radius: 2px;
}

.ProseMirror .selected {
  background-color: #e0f7fa;
}

.ProseMirror p.empty-node:first-child::before {
  content: "さぁ書き始めよう！";
}