.ProseMirror {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  background: #fff;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror img {
  cursor: default;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #eee;
  padding: 2px 5px;
}

.ProseMirror sup,
.ProseMirror sub {
  line-height: 0;
}

.ProseMirror p {
  padding: 5px;
  transition: background-color .3s;
  border-radius: 2px;
}

.ProseMirror li > p {
  margin: 0;
}

.ProseMirror .selected {
  background-color: #e0f7fa;
}

.ProseMirror p.empty-node:first-child::before {
  content: "さぁ書き始めよう！";
}

.ProseMirror td,
.ProseMirror th {
  border-color: #333;
}

.ProseMirror table {
  margin-bottom: 15px;
}

.ProseMirror table p.empty-node:first-child::before {
  display: none;
}

@font-face {
  font-family: 'icon';
  src: url('../fonts/icon.eot?l3ctv6');
  src: url('../fonts/icon.eot?l3ctv6#iefix') format('embedded-opentype'), url('../fonts/icon.ttf?l3ctv6') format('truetype'), url('../fonts/icon.woff?l3ctv6') format('woff'), url('../fonts/icon.svg?l3ctv6#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-center:before {
  content: "\e900";
}

.icon-left:before {
  content: "\e901";
}

.icon-merge01:before {
  content: "\e902";
}

.icon-merge02:before {
  content: "\e903";
}

.icon-right:before {
  content: "\e904";
}

.icon-source01:before {
  content: "\e905";
}

.icon-source02:before {
  content: "\e906";
}

.icon-source03:before {
  content: "\e907";
}

.icon-split01:before {
  content: "\e908";
}

.icon-split02:before {
  content: "\e909";
}

.icon-td01:before {
  content: "\e90a";
}

.icon-td02:before {
  content: "\e90b";
}

.icon-td03:before {
  content: "\e90c";
}

.icon-th01:before {
  content: "\e90d";
}

.icon-th02:before {
  content: "\e90e";
}

.icon-undo:before {
  content: "\e90f";
}
