.ProseMirror {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  background: #fff;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror img {
  cursor: default;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #eee;
  padding: 2px 5px;
}

.ProseMirror sup,
.ProseMirror sub {
  line-height: 0;
}

.ProseMirror p {
  padding: 5px;
  transition: background-color .3s;
  border-radius: 2px;
}

.ProseMirror li > p {
  margin: 0;
}

.ProseMirror .selected {
  background-color: #e0f7fa;
}

.ProseMirror p.empty-node:first-child::before {
  content: "さぁ書き始めよう！";
}
