.fa {
  margin-right: .25em;
}
.button.is-icon .fa,
.button.is-round .fa {
  margin-right: 0;
}
.small {
  margin-top: 10px !important;
  font-size: 14px;;
}
.app-frame {
  background: #1D2A38 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 45px #00000033;
  border-radius: 50px;
  padding: 50px 40px 80px 40px;
  position: relative;
  transform: translateY(-180px);
}
.app-frame::after {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  margin-left: -25px;
  content: "";
  display: block;
}

.button {
  background-color: #2196F3;
  border-color: #2196F3;
  line-height: 1;
}
.tree ol>li.is-current>a, 
.tree ul>li.is-current>a {
  background-color: #2196F3;
}
a {
  color: #2196F3;
}
.header {
  transition: background-color .3;
}
.header.is-sticky {
  background-color: transparent;
}
.header.active {
  background: transparent linear-gradient(180deg, #0C1858 0%, #085D83 100%) 0% 0% no-repeat padding-box;
}
.header.is-colored {
  background: transparent linear-gradient(180deg, #0C1858 0%, #085D83 100%) 0% 0% no-repeat padding-box;
}
.header .menu {
  margin-left: auto;
  margin-right: 2.5rem;
}
.header .logo a {
  color: #FFF;
}
.header-menu .pulldown > a {
  color: #FFF;
} 
.header .nav {
  color: #FFF;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
@media screen and (min-width: 769px) {
  .uny-logo:before {
    font-size: 12.5rem;
  }
}
.firstview {
  background-color: #f9f9f9;
}
.demo {
  box-shadow: 0 2px 8px rgba(0,0,0,.14);
}

pre > code {
  color: #FFF;
  border: none;
  background-color: transparent;
}

pre::before {
  display: none;
}

#app {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 24px 24px -18px rgba(69,104,129,.33), 0 9px 45px 0 rgba(114,119,160,.12);
}

.firstview {
  background: transparent linear-gradient(180deg, #0C1858 0%, #09B5AD 100%) 0% 0% no-repeat padding-box;
}

.lead {
  text-align: center;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 38px;
  line-height: 1.2;
}

.hero-inner {
  padding-top: 20px;
}

.hero-inner .button {
  background: #D01240;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  font-size: 24px;
}

h2 {
  color: #D01240;
  margin-bottom: 20px;
  padding-bottom: 0;
}

h3 {
  margin-top: 0;
  color: #7C7C7C;
  border-bottom: 1px solid #7C7C7C;
  padding-bottom: 5px;
}

ul {
  margin-bottom: 20px;
}

h3:not(:first-child) {
  margin-top: 0;
  margin-bottom: 10px;
}
p:not(:first-child) {
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 0;
}

pre {
  margin-bottom: 25px;
}

.footer {
  background: transparent linear-gradient(180deg, #0C1858 0%, #085D83 100%) 0% 0% no-repeat padding-box;
  color: #FFF;
  justify-content: center; 
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer p:not(:first-child) {
  margin-top: 10px;
  font-size: 16px;
}

.section-devider {
  display: flex;
  background-color: #F6F9FC;
}

.section-devider h2 {
  color: #1d1d1d;
}

.section-devider .section+.section {
  border-left: 1px solid #eee;
  border-top: 0;
}

.section-devider .section {
  flex: 1;
}

.github-section {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.github-section p {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.tree ul>li.is-current>a {
  background-color: transparent !important;
  color: #D01240;
  border-left: 2px solid #002398;
  border-radius: 0;
}

@media (min-width: 769px) {

  .is-sticky+.hero {
      padding-top: 9.25rem;
      padding-bottom: 15rem;
  }

  .sidebar:first-child {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .section-devider {
    display: block;
  }
  .section-devider .section+.section {
    border-left: none;
    border-top: 1px solid #eee;
  }
}